/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

body * {
  font-family: "Lora", serif;
}

@import "tailwindcss";
@plugin "daisyui";
/* daisy themes */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7aaf4c;
  --color-secondary: #f9bd25ea;
  --color-accent: #8bc34a;
}

/* #7aaf4c Primary clolor */
/* #f9bd25ea Secndery clolor */
/* #8BC34A Accent clolor */
/* #FAFAFA Background clolor */
/* #333333 Text clolor */
/* #6C63FF optional clolor */
