/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

body * {
  font-family: "Lora", serif;
}

@import "tailwindcss";
@plugin "daisyui";
/* daisy themes */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7aaf4c;
  --color-secondary: #f9bd25ea;
  --color-accent: #8bc34a;
}

li .active {
  color: #333333;
  font-weight: 700;
  background-color: #8bc34a;
  text-shadow: #3333334e 1px 1px;
}

li:hover {
  color: #f9bd25ea;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.2s;
}

/* #7aaf4c Primary clolor */
/* #f9bd25ea Secndery clolor */
/* #8BC34A Accent clolor */
/* #FAFAFA Background clolor */
/* #333333 Text clolor */
/* #6C63FF optional clolor */
